/* index.css 시작 */
header {
    width: 1920px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed; left: 0; top:0; z-index: 999;
    border-bottom: 1px solid var(--border-color);
}
header .menu_wrap {
    padding: 8px 120px; 
}
header .menu_wrap * {color: var(--color-txt);}
/* 헤더가 어두운 색으로 변할 때 */
header.black .menu_wrap * {color:rgba(85, 85, 85, 0.7)}
header.black {border-bottom: 1px solid rgba(85, 85, 85, 0.3);}
/* 헤더 색 변경 종료 */

header .menu_wrap .main_menu {gap: 30px;}
header .menu_wrap .main_menu a {
    font-family: 'Hamlet','MinSans';
    font-weight: 500;
    display: block;
    line-height: 60px;
    white-space: nowrap;
}
header .menu_wrap .years {
    font-family: 'Hamlet','MinSans';
    font-weight: 500;
    display: block;
    line-height: 60px;
}
/* ----------------------------------------------main slide 시작 */
.intro_page {
    height: 100vh;
}
.intro_page .swiper-wrapper {}
.intro_page .swiper-wrapper .swiper-slide {height: 100vh;}
/* ----------------------------------------------1행 */
.intro_page .swiper-wrapper .page1 {
    width: 100%;
    background-size: 108%;
    background-image: url(../images/intro_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 300px 0 100px 0;
}
.intro_page .swiper-wrapper .page1 .intro_title {
    width: 1680px;
    align-self: center;
}
.intro_page .swiper-wrapper .page1 .intro_title img {width: 100%;}
.intro_page .swiper-wrapper .page1 .intro_bottom * {
    color: var(--color-txt);
    padding: 0 120px;
}
.intro_page .swiper-wrapper .page1 .intro_bottom {width: 1920px;}
.intro_page .swiper-wrapper .page1 .intro_bottom  p {
    font-family: 'Hamlet','MinSans';
    font-weight: 500;
    font-size: 1.25rem;
}
/* 스크롤 다운 디자인 */
.intro_page .swiper-wrapper .page1 .scroll {
    position: absolute; bottom: 89px; margin: 0 auto;
    transform: translateY(50px);
}
.intro_page .swiper-wrapper .page1 .scroll p {
    font-family:'MinSans','Hamlet';
    font-size: 1.25rem;
    color: var(--color-txt);
    margin-bottom: 12px;
}
.intro_page .swiper-wrapper .page1 .scroll .scroll_down {
    animation: scroll_down 1s linear infinite alternate;
}
.intro_page .swiper-wrapper .page1 .scroll .scroll_down img {}

/* 애니메이션 */
@keyframes scroll_down {
    0% {transform:translateY(0)}
    100% {transform:translateY(-10px)}
}

/* ----------------------------------------------2행 */
/* 공통영역 */
.intro_page .swiper-wrapper .page2 {
    padding: 100px 120px;
    background-image: url(../images/background_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}
.intro_page .swiper-wrapper .page2 .contanier {width: 1680px;}
/* 왼쪽 섹션 */
.intro_page .swiper-wrapper .page2 .contanier .left {width: 659px;padding: 70px 0; position: relative;}
.intro_page .swiper-wrapper .page2 .contanier .left .title_introduction {margin-bottom: 50px;}
.intro_page .swiper-wrapper .page2 .contanier .left .title_introduction * {color: #444;}
.intro_page .swiper-wrapper .page2 .contanier .left .title_introduction .left_title {
    margin-bottom: 15px;
    font-family: 'Hamlet','MinSans';
    font-size: 1.563rem;
    font-weight: 600;
}
.intro_page .swiper-wrapper .page2 .contanier .left .title_introduction p {
    font-family:'MinSans','Hamlet'; 
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
}
.intro_page .swiper-wrapper .page2 .contanier .left .proflie {}
.intro_page .swiper-wrapper .page2 .contanier .left .proflie img {}
.intro_page .swiper-wrapper .page2 .contanier .left .kakao {position: absolute; left:42%; bottom:11%;}
.intro_page .swiper-wrapper .page2 .contanier .left .kakao img {}
/* 오른쪽 섹션 */
.intro_page .swiper-wrapper .page2 .contanier .right {width: 972px; height: 679px; padding: 70px 0;}
/* 오른쪽 위 섹션 */
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g {margin-bottom: 60px; height: 379px;}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .proflie_education_g {height: 100%; margin-right: 156px; }
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .proflie_education_g .profile {margin-bottom: 117px;}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .proflie_education_g .profile h2 {
    font-family: 'Hamlet','MinSans';
    font-size: 1.563rem;
    font-weight: 600;
    margin-bottom: 12px;
}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .proflie_education_g .profile .txt {gap: 8px;}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .proflie_education_g .profile .txt p {
    font-family:'MinSans','Hamlet'; 
    font-size: 1.125rem;
    font-weight: 300;
}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .proflie_education_g .education {}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .proflie_education_g .education h2 {
    font-family: 'Hamlet','MinSans';
    font-size: 1.563rem;
    font-weight: 600;
    margin-bottom: 12px;
}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .proflie_education_g .education .txt {gap: 8px;}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .proflie_education_g .education .txt .date_contents {}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .proflie_education_g .education .txt .date_contents .date {
    font-family:'MinSans','Hamlet'; 
    font-size: 1rem;
    font-weight: 300;
    margin-right: 8px;
}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .proflie_education_g .education .txt .date_contents .contents {
    font-family:'MinSans','Hamlet'; 
    font-size: 1.125rem;
    font-weight: 300;
}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g {height: 100%;}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g .academy {margin-bottom: 170px;}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g .academy h2 {
    font-family: 'Hamlet','MinSans';
    font-size: 1.563rem;
    font-weight: 600;
    margin-bottom: 12px;
}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g .academy .txt {gap: 8px;}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g .academy .txt .date_contents {}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g .academy .txt .date_contents .date {
    font-family:'MinSans','Hamlet'; 
    font-size: 1rem;
    font-weight: 300;
    margin-right: 8px;
}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g .academy .txt .date_contents .contents {
    font-family:'MinSans','Hamlet'; 
    font-size: 1.125rem;
    font-weight: 300;
}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g .certificate {}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g .certificate h2 {
    font-family: 'Hamlet','MinSans';
    font-size: 1.563rem;
    font-weight: 600;
    margin-bottom: 12px;
}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g .certificate .txt {gap: 8px;}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g .certificate .txt .date_contents {}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g .certificate .txt .date_contents .date {
    font-family:'MinSans','Hamlet'; 
    font-size: 1rem;
    font-weight: 300;
    margin-right: 8px;
}
.intro_page .swiper-wrapper .page2 .contanier .right .right_top_g .academy_certificate_g .certificate .txt .date_contents .contents {
    font-family:'MinSans','Hamlet'; 
    font-size: 1.125rem;
    font-weight: 300;
}
/* 오른쪽 아래 스킬섹션 */
.intro_page .swiper-wrapper .page2 .contanier .right .skill_skilimg_g {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    align-self: start;
    margin-left: 115px;
}
.intro_page .swiper-wrapper .page2 .contanier .right .skill_skilimg_g h2 {
    font-family: 'Hamlet','MinSans';
    font-size: 1.563rem;
    font-weight: 600;
    margin-bottom: 12px;
}
.intro_page .swiper-wrapper .page2 .contanier .right .skill_skilimg_g h2 .skill_list {}
.intro_page .swiper-wrapper .page2 .contanier .right .skill_skilimg_g .skill_list img {width: 100%;}

/* ----------------------------------------------3행 */
.intro_page .swiper-wrapper .page3 {
    background-size: 108%;
    background-image: url(../images/intro_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    gap: 105px;
    padding: 150px 0;
}
.intro_page .swiper-wrapper .page3 img {}
.intro_page .swiper-wrapper .page3 .contents_txt {}
.intro_page .swiper-wrapper .page3 .chart {}
/* ----------------------------------------------4행 */
.intro_page .swiper-wrapper .page4 {
    padding: 180px 120px 0;
    background-image: url(../images/background_bg.jpg);
    background-size: cover;
    background-position: center;
}
.intro_page .swiper-wrapper .page4 .container_wrap {width: 1680px;}
.intro_page .swiper-wrapper .page4 .container_wrap .mockup_img {
    width: 935px; height: 522px;  margin-right: 100px;
    transform: translate(-100px, -60px);
}
.intro_page .swiper-wrapper .page4 .container_wrap .mockup_img img {}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap {}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .project_title {margin-bottom: 54px;}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .project_title p {
    font-family:'MinSans','Hamlet'; 
    font-size: 1.375em;
    color: #8D8888;
    margin-bottom: 10px;
}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .project_title h2 {
    font-family: 'Hamlet','MinSans';
    font-size: 2.5rem;
    font-weight: 700;
    color: #444;
}

.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .project_overview {margin-bottom: 54px;}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .project_overview h2 {
    font-family: 'Hamlet','MinSans';
    font-size: 1.563rem;
    font-weight: 700;
    color: #444;
    margin-bottom: 8px;
}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .project_overview p {
    font-family:'MinSans','Hamlet'; 
    font-size: 1.125em;
    color: #000;
    font-weight: 300;
    line-height: 1.7;
}

.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .project_contents {gap: 18px; margin-bottom: 61px;}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .project_contents .status {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .project_contents .status .sub_title {
    width: 120px;
    font-family:'MinSans','Hamlet'; 
    font-size: 1.125em;
    font-weight: 400;
    color: #000;
}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .project_contents .status p {
    font-family:'MinSans','Hamlet'; 
    color: #000;
    font-weight: 300;
}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .project_contents .status a {
    font-family:'MinSans','Hamlet'; 
    color: #000;
    font-weight: 300;
    border-bottom: 1px solid #222;
    transition: 0.3s ease-out;
}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .project_contents .status a:hover {
    border-color: rgba(34,34,34,0.2);
    color:rgba(34,34,34,0.7);
}


.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .now_btn {gap: 30px;}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .now_btn a {
    display: block;     
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;

    padding: 18px 30px;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid rgba(85, 85, 85, 0.5);

    font-family:'MinSans','Hamlet'; 
    font-size: 1rem;
    font-weight: 300;
    color: #222;
    transition: 0.3s ease-out;
} 

.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .now_btn a:hover {
    color:rgba(34,34,34,0.5)
}
.intro_page .swiper-wrapper .page4 .container_wrap .project_wrap .now_btn a img {display: block; margin-right: 8px;}

/* ----------------------------------------------5행 */

.intro_page .swiper-wrapper .page5 {
    padding: 180px 120px 0;
    background-image: url(../images/background_bg.jpg);
    background-size: cover;
    background-position: center;
}
.intro_page .swiper-wrapper .page5 .container_wrap {width: 1680px;}
.intro_page .swiper-wrapper .page5 .container_wrap .mockup_img {
    width: 935px; height: 522px;  margin-right: 100px;
    transform: translate(-100px, -60px);
}
.intro_page .swiper-wrapper .page5 .container_wrap .mockup_img img {}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap {}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .project_title {margin-bottom: 54px;}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .project_title p {
    font-family:'MinSans','Hamlet'; 
    font-size: 1.375em;
    color: #8D8888;
    margin-bottom: 10px;
}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .project_title h2 {
    font-family: 'Hamlet','MinSans';
    font-size: 2.5rem;
    font-weight: 700;
    color: #444;
}

.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .project_overview {margin-bottom: 54px;}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .project_overview h2 {
    font-family: 'Hamlet','MinSans';
    font-size: 1.563rem;
    font-weight: 700;
    color: #444;
    margin-bottom: 8px;
}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .project_overview p {
    font-family:'MinSans','Hamlet'; 
    font-size: 1.125em;
    color: #000;
    font-weight: 300;
    line-height: 1.7;
}

.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .project_contents {gap: 18px; margin-bottom: 61px;}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .project_contents .status {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .project_contents .status .sub_title {
    width: 120px;
    font-family:'MinSans','Hamlet'; 
    font-size: 1.125em;
    font-weight: 400;
    color: #000;
}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .project_contents .status p {
    font-family:'MinSans','Hamlet'; 
    color: #000;
    font-weight: 300;
}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .project_contents .status a {
    font-family:'MinSans','Hamlet'; 
    color: #000;
    font-weight: 300;
    border-bottom: 1px solid #222;
    transition: 0.3s ease-out;
}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .project_contents .status a:hover {
    border-color: rgba(34,34,34,0.2);
    color:rgba(34,34,34,0.7);
}


.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .now_btn {gap: 30px;}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .now_btn a {
    display: block;     
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;

    padding: 18px 30px;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid rgba(85, 85, 85, 0.5);

    font-family:'MinSans','Hamlet'; 
    font-size: 1rem;
    font-weight: 300;
    color: #222;
    transition: 0.3s ease-out;
} 

.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .now_btn a:hover {
    color:rgba(34,34,34,0.5)
}
.intro_page .swiper-wrapper .page5 .container_wrap .project_wrap .now_btn a img {display: block; margin-right: 8px;}
/* ----------------------------------------------6행 */
.intro_page .swiper-wrapper .page6 {
    padding: 180px 120px 0;
    background-image: url(../images/background_bg.jpg);
    background-size: cover;
    background-position: center;
}
.intro_page .swiper-wrapper .page6 .container_wrap {width: 1680px;}
.intro_page .swiper-wrapper .page6 .container_wrap .mockup_img {
    width: 935px; height: 522px;  margin-right: 100px;
    transform: translate(-100px, -60px);
}
.intro_page .swiper-wrapper .page6 .container_wrap .mockup_img img {}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap {}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .project_title {margin-bottom: 54px;}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .project_title p {
    font-family:'MinSans','Hamlet'; 
    font-size: 1.375em;
    color: #8D8888;
    margin-bottom: 10px;
}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .project_title h2 {
    font-family: 'Hamlet','MinSans';
    font-size: 2.5rem;
    font-weight: 700;
    color: #444;
}

.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .project_overview {margin-bottom: 54px;}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .project_overview h2 {
    font-family: 'Hamlet','MinSans';
    font-size: 1.563rem;
    font-weight: 700;
    color: #444;
    margin-bottom: 8px;
}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .project_overview p {
    font-family:'MinSans','Hamlet'; 
    font-size: 1.125em;
    color: #000;
    font-weight: 300;
    line-height: 1.7;
}

.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .project_contents {gap: 18px; margin-bottom: 61px;}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .project_contents .status {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .project_contents .status .sub_title {
    width: 120px;
    font-family:'MinSans','Hamlet'; 
    font-size: 1.125em;
    font-weight: 400;
    color: #000;
}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .project_contents .status p {
    font-family:'MinSans','Hamlet'; 
    color: #000;
    font-weight: 300;
}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .project_contents .status a {
    font-family:'MinSans','Hamlet'; 
    color: #000;
    font-weight: 300;
    border-bottom: 1px solid #222;
    transition: 0.3s ease-out;
}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .project_contents .status a:hover {
    border-color: rgba(34,34,34,0.2);
    color:rgba(34,34,34,0.7);
}


.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .now_btn {gap: 30px;}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .now_btn a {
    display: block;     
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;

    padding: 18px 30px;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid rgba(85, 85, 85, 0.5);

    font-family:'MinSans','Hamlet'; 
    font-size: 1rem;
    font-weight: 300;
    color: #222;
    transition: 0.3s ease-out;
} 

.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .now_btn a:hover {
    color:rgba(34,34,34,0.5)
}
.intro_page .swiper-wrapper .page6 .container_wrap .project_wrap .now_btn a img {display: block; margin-right: 8px;}
