/* index.css 시작 */
header {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed; left: 0; top:0; z-index: 999;
    border-bottom: 1px solid var(--border-color);
}
header .menu_wrap {
    padding: 8px 120px; 
}
header .menu_wrap * {color: var(--color-txt);}
header .menu_wrap .main_menu {gap: 30px;}
header .menu_wrap .main_menu a {
    font-family: 'Hamlet','MinSans';
    font-weight: 500;
    display: block;
    line-height: 60px;
    white-space: nowrap;
}
header .menu_wrap .years {
    font-family: 'Hamlet','MinSans';
    font-weight: 500;
    display: block;
    line-height: 60px;
}
/* ----------------------------------------------main slide 시작 */
.intro_page {}
.intro_page .swiper-wrapper {
    height: 100vh;
}
.intro_page .swiper-wrapper .swiper-slide {}
/* ----------------------------------------------1행 */
.intro_page .swiper-wrapper .page1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../images/intro_bg.jpg);
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 277px 0 100px 0;
}
.intro_page .swiper-wrapper .page1 .intro_title {
    width: 1680px;
    align-self: center;
}
.intro_page .swiper-wrapper .page1 .intro_title img {width: 100%;}
.intro_page .swiper-wrapper .page1 .intro_bottom * {
    color: var(--color-txt);
    padding: 0 120px;
}
.intro_page .swiper-wrapper .page1 .intro_bottom {}
.intro_page .swiper-wrapper .page1 .intro_bottom  p {
    font-family: 'Hamlet','MinSans';
    font-weight: 500;
    font-size: 1.25rem;
}
/* 스크롤 다운 디자인 */
.intro_page .swiper-wrapper .page1 .scroll {
    position: absolute; left: 50%; bottom: 89px;
    transform: translateX(-50px);
}
.intro_page .swiper-wrapper .page1 .scroll p {
    font-family:'MinSans','Hamlet';
    font-size: 1.25rem;
    color: var(--color-txt);
}
.intro_page .swiper-wrapper .page1 .scroll .scroll_down {}
.intro_page .swiper-wrapper .page1 .scroll .scroll_down img {}

/* ----------------------------------------------2행 */
/* ----------------------------------------------3행 */
.intro_page .swiper-wrapper .page3 {
    background-size: cover;
    background-image: url(../images/intro_bg.jpg);
    background-position: center;
    gap: 105px;
}
.intro_page .swiper-wrapper .page3 img {}
.intro_page .swiper-wrapper .page3 .contents_txt {}
.intro_page .swiper-wrapper .page3 .chart {}